@page "/directions"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@implements IAsyncDisposable
@rendermode InteractiveServer
@inject IDbContextFactory<BlazorAcademyHW.Data.BlazorAcademyHWContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Предметы</h1>

<p>
    <a href="directions/create">Create New</a>
</p>

<div>
    <QuickGrid Class="table" Items="context.Directions" Pagination="pagination">
        <PropertyColumn Class="directions-name" Property="directions => directions.direction_name" Title="Название направления" Sortable="true" />

        <TemplateColumn Context="directions">
            <a href="@($"directions/edit?direction_id={directions.direction_id}")">Edit</a> |
            <a href="@($"directions/details?direction_id={directions.direction_id}")">Details</a> |
            <a href="@($"directions/delete?direction_id={directions.direction_id}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>
<Paginator State="pagination" />
</div>

@code {
    private PaginationState pagination = new PaginationState { ItemsPerPage = 5 };
    private BlazorAcademyHWContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
