@page "/teachers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@implements IAsyncDisposable
@rendermode InteractiveServer
@inject IDbContextFactory<BlazorAcademyHW.Data.BlazorAcademyHWContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Преподаватели</h1>

<p>
    <a href="teachers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Teachers" Pagination="pagination">
    <PropertyColumn Property="teachers => teachers.last_name" Title="Фамилия" />
    <PropertyColumn Property="teachers => teachers.first_name" Title="Имя" />
    <PropertyColumn Property="teachers => teachers.middle_name" Title="Отчество" />
    <PropertyColumn Property="teachers => teachers.birth_date" Title="Дата рождения" Format="dd.MM.yyyy" />
    <PropertyColumn Property="teachers => teachers.work_since" Title="Работает с:" />
    <PropertyColumn Property="teachers => teachers.rate" Title="Заработок" />

    <TemplateColumn Context="teachers">
        <a href="@($"teachers/edit?teacher_id={teachers.teacher_id}")">Edit</a> |
        <a href="@($"teachers/details?teacher_id={teachers.teacher_id}")">Details</a> |
        <a href="@($"teachers/delete?teacher_id={teachers.teacher_id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

<Paginator State="pagination" />

@code {
    private PaginationState pagination = new PaginationState { ItemsPerPage = 5 };
    private BlazorAcademyHWContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
